@font-face {
    font-family: "gotham";
    src: url("../fonts/Gotham-Narrow-Font-Family/GothamNarrow-Light.otf"); /* IE */
    src: url('../fonts/Gotham-Narrow-Font-Family/GothamNarrow-Light.otf') format('truetype'); /* others */
  }
 
  @font-face {
    font-family: "trajan";
    src: url("../fonts/TrajanProRegular/TrajanProRegular.ttf"); /* IE */
    src: url('../fonts/TrajanProRegular/TrajanProRegular.ttf') format('truetype'); /* others */
  }


  p{
    font-family: "gotham";
    font-size: 50px;
    color: #fff;
}
h1{
    font-family: "trajan";
    font-size: 100px;
    font-weight: 400;
    color: #fff;
}


body::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
}


*{
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
}




#first{
    background-image: url('../img/img1_2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#nightKing{
    background-image: url('../img/img2.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#cersei{
    background-image: url('../img/img3.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#jon{
    background-image: url('../img/img4_2.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#danny{
    background-image: url('../img/img6.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.form{
    background-image: url('../img/img7.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.center{
    width:80%;
    margin:0 auto;
}

.center h1{
    font-family: "trajan";
    font-size:100px;
    color:#fff;
    text-shadow: 5px 5px 2px #000;
    padding-top: 130px;
}

.center input,
.center textarea{
    font-family: "gotham";
    margin-top:35px;
    display:block; 
    border-radius:10px;
    background: rgba(196, 196, 196, 0.5);        
    font-size:40px;
    padding-left:24px;
    border:none;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}

::placeholder{
    color:white;
}
.center input[type="email"]{
    height:70px;
    width:590px;
}

.center textarea{
    padding-top:18px;
    height:300px;
    width:100%;
}

.center input[type="submit"]{
    height:60px;
    width:250px;
    background: #F4A939;
    padding:0;
    color:white;
    margin-bottom:160px;
}
