
body::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
}

*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    position: fixed;
}
nav{
    /* position: fixed; */
    background-color: #000;
    width: 100%;
    height: 5vh;
}
ul{
   text-align: right;
   
}
ul li{
    color: #5E5E5E;
    display: inline-block;
}

.title1{
    color: #fff;
    font-size: 1.5rem;
    padding-right: 50%;
    text-indent: 1px;
}
.links{
    text-decoration: none;
    color: #5E5E5E;
    text-transform: uppercase;
    padding: 5px;
}
.icon{
    width: 15px;
    height: 15px; 
}
span{
    color: #F4A939;
}

#first{
    background-image: url('../img/img1_2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#nightKing{
    background-image: url('../img/img2.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#cersei{
    background-image: url('../img/img3.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#jon{
    background-image: url('../img/img4_2.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#danny{
    background-image: url('../img/img6.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.form{
    background-image: url('../img/img7.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

